{{ template "elements-header" }}
<div class="container-fluid">
  <h1>{{ .title }}</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      {{ range $key, $value := .drinks }}
      <tr>
        <a href="/drinks/{{ $key }}">
          <td>
            <a href="/drinks/{{ $key }}">
              {{ $value.name }}
            </a>
          </td>
        </a>
      </tr>
      {{ end }}
      <tr></tr>
      <tr></tr>
    </table>
  </div>
</div>
{{ template "elements-footer" }}