{{ template "elements-header" }}
<h1>Misic</h1>
<ul>
    {{ range $keys := .category }}
        {{ range $key, $value := $keys }}
            <ul>{{ $key }}: {{ $value }}</ul>
        {{ end }}
    {{ end }}
</ul>
{{ template "elements-footer" }}